<%- include('./partials/head') %>
<h1 class="text-center py-4"><%= title %></h1>
<p class="text-center">Welcome to <%= title %></p>
<a  class="mx-5" href="/cars">See All Cars</a>


<%- include('./partials/footer') %>